.scrolling-words-container span{
  color: white;
} 

.alg{
  color: #93c5fd;
}

.geo{
  color: #bfdbfe;
}

.calc{
  color: #a5b4fc;
}

.stats{
  color: #c7d2fe;
}

.math{
  color: white;
}

.scrolling-words-container {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  padding: 0 20px;
}

.scrolling-words-box {
  height: 4rem;
  margin: auto;
  overflow: hidden;
}
.scrolling-words-box ul {
  margin: 0 0.625rem;
  padding: 0;
  animation: scrollUp 5s infinite;
}
.scrolling-words-box ul li {
  display: flex;
  align-items: center;
  height: 4rem;
  list-style: none;
}

@keyframes scrollUp {
  15%, 25% {
    transform: translateY(-17%);
  }
  40%, 50% {
    transform: translateY(-33.5%);
  }
  
  65%, 75% {
    transform: translateY(-50%);
  }
  90%, 100% {
    transform: translateY(-67%);
  }
  100%{
    transform: translateY(-83%);
  }
}


@media (max-width: 925px){
  .scrolling-words-container {
  font-size: 2rem;
  }
}
@media (max-width:650px){
  .scrolling-words-container{
    font-size: 1.75rem;
  }
}
@media (max-width:570px){
  .scrolling-words-container{
    font-size: 1.5rem;
  }
}
@media (max-width:505px){
  .scrolling-words-container{
    font-size: 1.25rem;
  }
}
@media (max-width:430px){
  .scrolling-words-container{
    font-size: 1.1rem;
  }
}